{
  "project_info": {
    "project_number": "REPLACE_WITH_PRODUCTION_PROJECT_NUMBER",
    "project_id": "the-eye-2pd-d0217",
    "storage_bucket": "the-eye-2pd-d0217.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_PRODUCTION_APP_ID",
        "android_client_info": {
          "package_name": "com.theeye.watch"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_PRODUCTION_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
